.token-card {
    width: 100%;
}

.token-card-header {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 108px 1fr;
    justify-items: start;
    justify-content: start;
    align-items: start;
    gap: 0 22px;
    margin-bottom: 16px;
}

.token-card-header > img,
.token-card-header > .logo-skeleton {
    width: 108px;
    height: 108px;
    grid-row: span 2;
}

.address-section {
    display: flex;
    padding-bottom: 15px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.address {
    position: relative;
    max-width: 512px;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    opacity: 0.5;
    margin-right: 10px;
    word-break: break-all;
}

.token-card-body {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: var(--pure-white);
    display: flex;
    flex-direction: column;
    gap: 22px;
    position: relative;
    width: 100%;
}

.token-card-body > div {
    display: grid;
    grid-template-columns: 141px 1fr;
    gap: 11px;
    align-items: start;
    position: relative;
    left: -20px;
}

.metadata-link {
    color: var(--hyperlink);
}

.label {
    text-align: right;
    white-space: nowrap;
    width: 141px;
    font-weight: 500;
}

.description > p {
    max-width: 586px;
}

.permissions > div {
    display: flex;
    gap: 9px;
}

.token-card-body > .qrcode-block {
    width: 159px;
    height: 159px;
    margin-left: auto;
    padding: 7.5px;
    border: 2px solid rgba(142, 143, 143, 0.5);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: calc(100% - 1px);
}
