.mini-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background: var(--pure-white);
    border-radius: 4px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    cursor: pointer;
    overflow: hidden;
    margin-right: 5px;
}

.mini-button > .img-wrapper {
    background-color: var(--pure-white);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.mini-button > .img-wrapper-complete {
    background-color: var(--copy-complete);
    width: 100%;
    height: 100%;
    transform: scaleX(-1);
}
