.create-token-groupt-page {
    position: relative;
    height: 100%;
}

.create-token-groupt-page > h6 {
    font-weight: 300;
    font-size: 20px;
    line-height: 130%;
    color: var(--pure-white);
    max-width: 1082px;
    margin-bottom: 30px;
}

.create-token-groupt-page > form {
    margin-top: 20px;
    margin-bottom: 40px;
    display: grid;
    justify-items: end;
    justify-content: start;
    gap: 12px;
    width: 100%;
}

.parent-label {
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
    line-height: 42px;
    text-align: right;
    margin-top: 0px;
    color: var(--pure-white);
}

.parent-label > span {
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    margin-right: 10px;
}

.parent-label > span.label {
    font-weight: 600;
    font-size: 20px;
}

.parent-label > span.parent-val {
    word-break: break-all;
    text-align: left;
    font-weight: 400;
    max-width: 550px;
}

.footer {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
}

.footer > button {
    position: relative;
    bottom: 0;
    right: 0;
}

.footer {
    padding-bottom: 50px;
}