.table-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--mid-grey);
    margin-left: 12px;
    margin-bottom: 9px;
}
