.thead {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: var(--mid-grey);
    height: 28px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.thead::after {
    content: '';
    width: 100%;
    height: 26px;
    position: absolute;
    top: -10px;
    left: 0;
    z-index: -1;
}

.thead::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 20px;
    left: 0;
    top: 100%;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0.15) 0.01%,
        rgba(0, 0, 0, 0) 100%
    );
}
