.toggle-button {
    max-width: 60px;
    height: 30px;
    border-radius: 25px;
    position: relative;
}

.toggle-button::after {
    content: '';
    width: 26px;
    height: 26px;
    background: var(--pure-white);
    border-radius: 25px;
    position: absolute;
    right: 2px;
    top: 2px;
}

.toggle-active {
    background-color: var(--primary-accent);
}

.toggle-active::after {
    right: 2px;
}

.toggle-deactivated {
    background-color: var(--pure-white);
}

.toggle-deactivated::after {
    left: 2px;
}
