.main {
    display: grid;
    grid-template-columns: 420px 1fr;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.section {
    max-width: 1500px;
    width: 100%;
    height: 100vh;
    padding: 90px 118px 81px 120px;
    left: 31.3%;
    overflow-y: auto;
    overflow-x: hidden;
}

@media (max-width: 1400px) {
    .main {
        grid-template-columns: 380px 1fr;
    }

    .section {
        padding: 54px 63px 50px 76px;
        left: 350px;
    }
}

@media (min-width: 1920px) {
    .section::-webkit-scrollbar {
        width: 0;
        background-color: transparent;
    }

    .section {
        margin: 0 auto;
    }

    .section::-webkit-scrollbar-thumb {
        background-color: transparent;
    }
}
