.navigation-panel-item {
    max-width: 420px;
    height: 40px;
    padding: 8px 23px 8px 31px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: var(--pure-white);
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation-panel-item:hover {
    background: rgba(255, 255, 255, 0.03);
}

.active {
    border: 2px solid var(--primary-accent);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2);
}
