.token-groups-wrapper {
    padding: 45px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.token-group-list {
    background-color: var(--dark-grey);
    position: relative;
    z-index: 0;
    height: calc(100vh - 400px);
    overflow-y: scroll;
}

.token-group-list::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
}

.token-group-list::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.token-group-list::before {
    content: '';
    width: 100%;
    height: 20px;
    position: absolute;
    z-index: 1;
    pointer-events: none;
    left: 0;
    top: 0;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0.15) 0.01%,
        rgba(0, 0, 0, 0) 100%
    );
}
