.amount-label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 600;
    font-size: 35px;
    line-height: 42px;
    text-align: right;
    color: var(--pure-white);
}

.amount-pending-label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 42px;
    text-align: right;
    color: var(--pure-white);
}

.amount-label > span {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-top: 10px;
    margin-right: 10px;
}
