.send-section > form.minimal {
    padding: 73px 76px 70px 73px;
    min-width: 600px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 30px;
}

.send-section > form.minimal button {
    margin-top: 20px; 
}

.send-section > form.full {
    padding: 73px 76px 70px 73px;
    min-width: 620px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 19px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
}

.send-section > h3 {
    margin-bottom: 6px;
    margin-left: 15px;
}