.textarea-field {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: right;
    color: var(--pure-white);
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
    white-space: nowrap;
    gap: 12px;
    position: relative;
}

.textarea-field > textarea {
    resize: none;
    width: 422px;
    width: 100%;
    height: 200px;
    background-color: var(--dark-grey);
    padding: 13px 22px 20px 25px;
    border-radius: 4px;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
}

.textarea-field > textarea:focus {
    outline: none;
}

.textarea-field > textarea-field::placeholder {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: var(--mid-grey);
}

.textarea-field > textarea::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
}

.textarea-field > textarea::-webkit-scrollbar-thumb {
    background-color: transparent;
}

@media (max-width: 1400px) {
    .textarea-field {
        font-size: 18px;
        line-height: 20px;
    }

    .textarea-field > textarea {
        resize: none;
        height: 100px;
        background-color: var(--dark-grey);
        padding: 13px 22px 20px 25px;
        border-radius: 4px;
        font-weight: 300;
        font-size: 15px;
        line-height: 20px;
    }
}
