.token-group-page {
    width: 100%;
    height: 100%;
    font-weight: 300;
    font-size: 20px;
    line-height: 130%;
    color: var(--pure-white);
    position: relative;
}

.token-group-page > *:first-child {
    margin-bottom: 68px;
}

.table-section {
    position: relative;
    width: 100%;
    margin-top: 50px;
}

.table-section > button {
    position: absolute;
    right: 12px;
    top: 0;
}

.table-container {
    width: 100%;
    height: 200px;
    padding: 2px;
    border: 1px solid var(--mid-grey);
    border-radius: 4px;
    overflow-y: scroll;
}

.table-container > table {
    width: 100%;
}

.table-container > table > thead > tr > th {
    width: 16.6%;
}

.table-container > table > thead {
    position: sticky;
    top: -2px;
    z-index: 1;
    background-color: var(--bg-grey);
}

.table-container > table > thead::before {
    width: calc(100% + 4px);
    left: -2px;
    border-top: 1px solid var(--mid-grey);
}

.token-group-page > *:last-child {
    padding-bottom: 81px;
}

@media (min-width: 1921px) {
    .token-group-page > *:last-child {
        padding-bottom: 0;
    }
}

@media (max-width: 1400px) {
    .token-group-page > *:first-child {
        margin-bottom: 48px;
    }
}
