.nfts-card {
    display: flex;
    border: 2px solid var(--pure-white);
    border-radius: 5px;
    flex-direction: column;
    min-width: 120px;
    max-width: 120px;
    margin-right: 10px;
    cursor: pointer;
}

.nfts-card > img {
    height: 120px;
    width: 120px;
}

.nfts-card > .nft-box {
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 8px 6px 7px 6px;
}

.nfts-card > .nft-box > h5 {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: var(--pure-white);
}

.nfts-card > .nft-box > p {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: var(--pure-white);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.disabled {
    position: relative;
    border: 2px solid var(--mid-grey);
}

.disabled::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--pure-black);
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
