.check-mark {
    width: 26px;
    height: 26px;
    background-image: var(--check-mark-active);
    background-position: center;
    background-repeat: no-repeat;
    background-size: fill;
    position: relative;
}

.check-mark-deactivated {
    background-image: var(--check-mark-deactivated);
}
