.receive-content {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 61px;
    width: 670px;
    padding-left: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    color: var(--mid-grey);
    position: relative;
}

.receive-address {
    width: 520px;
    word-break: break-all;
    text-align: left;
}

.receive-content > *:nth-child(1) {
    margin-right: 18px;
}

.receive-content > *:last-child {
    margin-left: 25px;
}

.receive-section > h3 {
    margin-bottom: 6px;
    margin-left: 15px;
}
