.tr {
    height: 50px;
    padding: 0 16px 0 16px;
    border-bottom: 1px solid var(--bg-grey);
}

.tr > td > img {
    height: 25px;
    object-fit: fill;
}

.tr > td {
    padding: 0 10px 0 10px;
    white-space: nowrap;
}

.tr > td > span {
    position: relative;
    z-index: 0;
}

.tr > td:first-child {
    padding-left: 16px;
}

.td-authority > div,
.td-authority > button {
    margin: 0 auto;
}

.td-authority:first-child {
    padding-left: 0;
}

.tr > .td-transactions-skeleton-type {
    width: 10%;
}

.tr > .td-transactions-skeleton-txid {
    width: 45%;
}

.tr > .td-transactions-skeleton-amount {
    width: 10%;
}

.tr > .td-transactions-skeleton-date {
    width: 10%;
}

tr > td > .txid {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 10px;
    color: var(--hyperlink);
}
.link {
    color: var(--hyperlink);
}

@media (max-width: 1919px) {
    .tr > .td-transactions-skeleton-txid {
        width: 22%;
    }
}
