.kill-switch-button {
    width: 22px;
    height: 22px;
    cursor: pointer;
    background-image: var(--kill-switch-default);
    background-position: center;
    background-repeat: no-repeat;
    background-size: fill;
}

.kill-switch-button:hover {
    background-image: var(--kill-switch-hover);
}

.kill-switch-button:disabled {
    background-image: var(--kill-switch-disabled);
}
