.logo {
    max-width: 335px;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.285em;
    color: var(--pure-white);
    cursor: pointer;
    user-select: none;
}
