.page-title {
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    color: var(--pure-white);
    padding-bottom: 5px;
    border-bottom: 4px solid var(--primary-accent);
    max-width: fit-content;
    position: relative;
}

.less-margin-bottom {
    margin-bottom: 10px;
}

.bigger-margin-bottom {
    margin-bottom: 27px;
}

.grey-part {
    margin-left: 12px;
    opacity: 0.5;
}

.page-title > svg {
    width: 48px;
    height: 55px;
    position: absolute;
    left: calc(100% + 15px);
    bottom: 0;
}

.page-title-skeleton {
    display: flex;
    gap: 14px;
    border-bottom: 4px solid rgba(142, 143, 143, 0.4);
}
