.input-field {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: right;
    color: var(--pure-white);
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    white-space: nowrap;
    gap: 12px;
    position: relative;
}

.input-field > div {
    position: absolute;
    top: calc(50% - 12px);
    right: 12px;
}

.input-field > input {
    background-color: var(--dark-grey);
    padding: 13px 60px 12px 25px;
    border-radius: 4px;
    height: 50px;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.input-field > input[type='number'] {
    appearance: textfield;
    -moz-appearance: textfield;
}

.input-field > input[type='number']::-webkit-inner-spin-button,
.input-field > input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-field > input::placeholder {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: var(--mid-grey);
}

.input-field > .full {
    width: 100%;
}

.input-field > .small {
    min-width: 200px;
    max-width: fit-content;
}

.input-field > .long {
    min-width: max-content;
    width: 422px;
}
