.import-token-group-page {
    font-weight: 300;
    font-size: 20px;
    line-height: 130%;
    color: var(--pure-white);
    position: relative;
    width: 100%;
    height: 100%;
}

.result-box {
    margin-top: 51px;
    padding-top: 57px;
    position: relative;
}

.import-token-group-page > h6 {
    height: 61px;
    max-width: 1082px;
}

.import-btn {
    padding-top: 24px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.search-box {
    margin-top: 36px;
    display: grid;
    grid-template-columns: max-content 136px;
    width: 100%;
    align-items: center;
    gap: 16px;
    overflow: hidden;
    position: relative;
}

.search-box > label {
    display: grid;
    grid-template-columns: 137px 1fr;
}

.search-box > label > input {
    min-width: 630px;
}

.result-box::before {
    content: '';
    position: absolute;
    width: calc(100% + 248px);
    left: -117px;
    top: 0;
    height: 1px;
    opacity: 0.2;
    background: var(--pure-white);
}

@media (min-width: 1921px) {
    .result-box::before {
        display: none;
    }
}

@media (max-width: 1919px) {
    .import-btn {
        position: static;
        display: flex;
        justify-content: flex-end;
        padding-bottom: 41px;
    }

    .search-box > label > input {
        min-width: 0;
        width: 422px;
    }
}

@media (max-width: 1400px) {
    .decoration-line {
        left: 380px;
    }
}
