.welcome-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.page-description {
    margin: 165px auto 183px auto;
    max-width: 443px;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: var(--pure-white);
}

.button-controls {
    display: flex;
    gap: 32px;
}
