.sidebar {
    max-width: 420px;
    height: 100vh;
    background-color: var(--near-dark-grey);
}

.logo-wrapper {
    padding: 17px 0 18px 80px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

@media (max-width: 1400px) {
    .sidebar {
        max-width: 380px;
    }
}
