.main-box {
    border-radius: 4px;
    max-width: 240px;
    background: rgb(142, 143, 143, 0.2);
    display: flex;
    align-items: center;
    height: 52px;
    padding-left: 15px;
}

.main-box > h5 {
    font-weight: 300;
    font-size: 20px;
    color: var(--pure-white);
    position: relative;
    z-index: 9999;
    opacity: 100%;
    margin-left: 25px;
}
