.permission-toggle {
    border-radius: 15px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    height: 30px;
    width: 110px;
    color: var(--pure-white);
}

.Send-active {
    background: var(--primary-accent);
    border: 2px solid var(--primary-accent);
}

.Send-active:hover {
    background: var(--primary-accent-hover);
    border: 2px solid var(--primary-accent-hover);
}

.Receive-active {
    background: var(--primary-accent);
    border: 2px solid var(--primary-accent);
}

.Receive-active:hover {
    background: var(--primary-accent-hover);
    border: 2px solid var(--primary-accent-hover);
}

.authorise-active {
    background: var(--authorise);
    border: 2px solid var(--authorise);
}

.authorise-active:hover {
    background: var(--authorise-hover);
    border: 2px solid var(--authorise-hover);
}

.mint-active {
    background: var(--mint);
    border: 2px solid var(--mint);
}

.mint-active:hover {
    background: var(--mint-hover);
    border: 2px solid var(--mint-hover);
}

.melt-active {
    background: var(--melt);
    border: 2px solid var(--melt);
}

.melt-active:hover {
    background: var(--melt-hover);
    border: 2px solid var(--melt-hover);
}

.rescript-active {
    background: var(--rescript);
    border: 2px solid var(--rescript);
}

.rescript-active:hover {
    background: var(--rescript-hover);
    border: 2px solid var(--rescript-hover);
}

.subgroup-active {
    background: var(--subgroup);
    border: 2px solid var(--subgroup);
}

.subgroup-active:hover {
    background: var(--subgroup-hover);
    border: 2px solid var(--subgroup-hover);
}

.active {
    cursor: pointer;
}

.disabled,
.disabled:hover {
    background: transparent;
    border: 2px solid var(--mid-grey);
    color: var(--mid-grey);
    cursor: default;
}

.subgroup-note {
    background: transparent;
    border: 2px solid var(--subgroup);
    color: var(--subgroup);
    cursor: default;
}

.authorise-note {
    background: transparent;
    color: var(--authorise);
    border: 2px solid var(--authorise);
}

.authorise-note {
    background: transparent;
    color: var(--authorise);
    border: 2px solid var(--authorise);
}

.mint-note {
    background: transparent;
    color: var(--mint);
    border: 2px solid var(--mint);
}

.melt-note {
    background: transparent;
    color: var(--melt);
    border: 2px solid var(--melt);
}

.rescript-note {
    background: transparent;
    color: var(--rescript);
    border: 2px solid var(--rescript);
}

.note:hover {
    background: transparent;
    cursor: default;
}

.cursor-pointer {
    cursor: pointer !important;
}
